:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:   #7cc3d4;
    display: flex;
    justify-content: center;
}

.frame {
    height: 98vh;
    width: 600px;
    background-color: #D3D3D3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "screen screen screen screen"
        "plus minus multiply divide"
        "seven eight nine backspace"
        "four five six equal"
        "one two three equal"
        "clear zero decimal equal";
    box-shadow: 6px 4px #313131;
    border-radius: 2%;
    border: 5px solid #535353;

}

.button, .accion, .operator {
    all: unset;
    grid-area: button;
    margin: 2vh;
    box-shadow: 2.3px 2.3px #535353;
    color: blue;
    background-color: #C3C3C3;
    color: #535353;
    font-weight: bolder;
    font-size: 40px;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #535353;
}

.button:active, .accion:active, .operator :active {
    box-shadow: unset;
    position: relative;
    left: 2.3px;
    top: 2.3px;
}

#screen {
    grid-area: screen;
    background-color: #090C53;
    margin: 1.8vh;
    padding: 0;
    color: #8c93b9;
    justify-content: flex-end;
    align-items: center;
    font-size: 100px;
    font-stretch: condensed;
    display: flex;
    padding-right: 2vh;
    border-radius: 1%;
    min-height: 15vh;
    border: 5px solid #535353;
    box-shadow: 3px 3px #313131;
}

#plus {
    grid-area: plus;
}
#minus {
    grid-area: minus;
}
#multiply {
    grid-area: multiply;
}
#divide {
    grid-area: divide;
}
#nine {
    grid-area: nine;
}
#eight {
    grid-area: eight;
}
#seven {
    grid-area: seven;
}
#six {
    grid-area: six;
}
#five {
    grid-area: five;
}
#four {
    grid-area: four;
}
#three {
    grid-area: three;
}
#two {
    grid-area: two;
}
#one {
    grid-area: one;
}
#equal {
    grid-area: equal;
}
#zero {
    grid-area: zero;
}
#clear {
    grid-area: clear;
}
#decimal {
    grid-area: decimal;
}
#backspace {
    grid-area: backspace;
}