:root {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #7cc3d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    height: 99vh;
    width: 40vw;
    background-color: #D3D3D3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "screen screen screen screen"
        "plus minus multiply divide"
        "seven eight nine equal"
        "four five six equal"
        "one two three equal"
        "clear zero zero equal";
        /* "screen screen screen screen"
        "button button button button"
        "button button button equal"
        "button button button equal"
        "button button button equal"
        "zero zero zero equal"; */
    box-shadow: 5px 5px #535353;

}

.button, .accion, .operator {
    grid-area: button;
    margin: 2vh;
    box-shadow: 2px 2px #535353;
    color: blue;
    background-color: #C3C3C3;
    color: #535353;
    font-weight: bolder;
    font-size: 40px;
    border-radius: 3%;
}

#screen {
    grid-area: screen;
    background-color: #090C53;
    margin: 1.8vh;
    padding: 0;
    /* border: 5px solid black; */
    box-shadow: 2.5px 2.5px #535353;
    color: #F3F3F3;
    justify-content: flex-end;
    align-items: center;
    /* font-weight: 900; */
    font-size: 100px;
    
    font-stretch: condensed;
    display: flex;
    padding-right: 2vh;
    border-radius: 2%;
}


.screen div {
    font-stretch: ultra-condensed;
}

#plus {
    grid-area: plus;
}
#minus {
    grid-area: minus;
}
#multiply {
    grid-area: multiply;
}
#divide {
    grid-area: divide;
}
#nine {
    grid-area: nine;
}
#eight {
    grid-area: eight;
}
#seven {
    grid-area: seven;
}
#six {
    grid-area: six;
}
#five {
    grid-area: five;
}
#four {
    grid-area: four;
}
#three {
    grid-area: three;
}
#two {
    grid-area: two;
}
#one {
    grid-area: one;
}
#equal {
    grid-area: equal;
}
#zero {
    grid-area: zero;
}
#clear {
    grid-area: clear;
}